.Sidebar {
  height: 100vh;
  width: 20%;
  min-width: 350px;
  background-color: #404040;
  display: flex;
  flex-direction: column;
}

.search {
  display: flex;
  justify-content: center;
  padding: 2rem 1rem;
}

#searchbar, #input-addcollection {
  background-color: rgb(27, 23, 23);
  border-radius: 20px;
  width: 90%;
  height: 30px;
}

#button-addcollection {
  width: 10%;
  height: 100%;
  border-radius: 50%;
}

.delete-collection {
  border-radius: 50%;
  min-width: 25px;
  min-height: 100%;
}

.collection {
  margin: .5rem 0;
  display: flex;
  justify-content: center;
}

.collection-container {
  margin-top: 3rem;
  height: 100%;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
/*   display: grid;
  grid: [row1-start] "add-collections" 50px [row1-end]
        [row2-start] "collections" 1fr [row2-end]
        / 1fr; */
}


.collection-name {
  min-height: 25px;
  flex: 2 0 auto
}



.list-active {
  border: 2px solid black;
  background-color: grey;
  border-radius: 10px;
}